@media (max-width:1250px) {
    .f-i {
        width: calc(var(--img-w)*0.7) !important;
        height: calc(var(--img-h)*0.7) !important;
    }
}

@media (max-width: 1040px) {

    .join-button {
        width: 40% !important;

    }
}

@media (max-width:800px) {
    .f-title {
        font-size: 40px !important;
    }

    .content {
        display: grid !important;
        justify-items: center;
        justify-content: center !important;
    }

    .f-text {
        font-size: 18px !important;
    }

    .t-box {
        max-width: 70% !important;
        padding: 5% 0 0 0 !important;
    }

    .input-field {
        height: 40px !important;
        font-size: 16px !important;
    }

    .join-button {
        height: 35px !important;

        font-size: 16px !important;
        margin-bottom: 10% !important;
    }

    .f-i {
        border-top-left-radius: 100px !important;
        border-top-right-radius: 100px;
        margin: 0 -5% !important;
        width: calc(var(--img-w)*0.6) !important;
        height: calc(var(--img-h)*0.6) !important;
    }
}

@media (max-width:370px) {
    .f-i {

        width: calc(var(--img-w)*0.4) !important;
        height: calc(var(--img-h)*0.4) !important;
    }

    .f-title {
        margin-top: 5%;
        font-size: 30px !important;
    }

    .f-text {
        font-size: 14px !important;
    }
    .join-button {
        height: 30px !important;

        font-size: 14px !important;

    }
    .input-field {
        height: 35px !important;
        font-size: 14px !important;
    }
}


/* Адаптивність для менюшек */
@media (max-width: 900px) {
    .header-menu {
        max-width: 50% !important;
    }
}

@media (max-width: 770px) {

    .body,
    .menu-item,
    .header-menu {
        font-size: 18px !important;
    }
    .header-nav>a {
        max-width: 130px !important;
    }
}


@media (max-width: 560px) {
    .main-title {
        font-size: 60px !important;
    }
    .menu-list,
    .header-menu {
        display: grid !important;
        justify-content: center;
    }
    .menu-list li {
        margin: 0 auto;

    }
}
@media (max-width: 590px) {
    .header-menu {
        display: none !important;
    }
    .menu_btn {
        visibility: visible !important;
    }
    .navbar-burger {
        display: grid !important;
    }
    #menu-toggle:checked ~ .menu_btn {
        margin-left: 30px;
    }
    #menu-toggle:checked ~ .header-menu {
        display: grid !important;
        width: 100%;
        text-align: center;
        margin: 20px -50% -165px;
        gap: 0;

    }
    #menu-toggle:checked ~ .header-menu li{
        visibility: visible;
        margin: 0 auto;
        width: 160px;
        background-color: black;
        padding: 5px 10px;
        z-index: 1;
    }

    .header-nav a {
        max-width: 60%;
    }
    .header-menu li a {
        font-size: 18px !important;
    }
}
@media (max-width: 415px) {
    
    .body,
    .header-menu li a, .menu-item  {
        font-size: 14px !important;
    }
    
}

@media (max-width: 280px) {
    .header-nav>a {
        max-width: 90px !important;
    }
}